[submodule "sources/astro"]
	path = sources/astro
	url = https://github.com/withastro/docs
[submodule "sources/opentofu"]
	path = sources/opentofu
	url = https://github.com/opentofu/opentofu
[submodule "sources/terragrunt"]
	path = sources/terragrunt
	url = https://github.com/gruntwork-io/terragrunt
